{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--===== HERO AREA STARTS =======-->
{% include "components/hero.html" with title="Our Blog" %}
<!--===== HERO AREA ENDS =======-->

<!--===== BLOG AREA STARTS =======-->
<div class="blog-inner-section sp1">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        {% include "components/sidebar_blog.html" %}
      </div>
      <div class="col-lg-8">
        <div class="space40 d-lg-none d-block"></div>
        <div class="row">
          <div class="col-lg-12">
            <div class="blog-details-boxarea">
              <div class="img1">
                <img src="/static/img/all-images/blog/blog-img8.png" alt="housebox">
              </div>
              <div class="content-area">
                <ul>
                  <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                        <path
                          d="M11 14.0619V20H13V14.0619C16.9463 14.554 20 17.9204 20 22H4C4 17.9204 7.05369 14.554 11 14.0619ZM12 13C8.685 13 6 10.315 6 7C6 3.685 8.685 1 12 1C15.315 1 18 3.685 18 7C18 10.315 15.315 13 12 13Z">
                        </path>
                      </svg> By Alex Roy</a></li>
                  <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                        <path
                          d="M2 11H22V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V11ZM17 3H21C21.5523 3 22 3.44772 22 4V9H2V4C2 3.44772 2.44772 3 3 3H7V1H9V3H15V1H17V3Z">
                        </path>
                      </svg> 8 December 2024</a></li>
                </ul>
                <div class="space24"></div>
                <a href="property-details-v1.html">Elevate Your Knowledge, Empower Your Decisions</a>
                <div class="space16"></div>
                <p>Searching for your dream home, or looking the enhance your living space, we provide expert advice an
                  creative ideas tailored to your.</p>
                <div class="space24"></div>
                <a href="property-details-v1.html" class="readmore">learn more <svg xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" fill="currentColor">
                    <path
                      d="M13.0508 12.361L7.39395 18.0179L5.97974 16.6037L11.6366 10.9468L6.68684 5.99707H18.0006V17.3108L13.0508 12.361Z">
                    </path>
                  </svg></a>
              </div>
            </div>
          </div>

          <div class="col-lg-12">
            <div class="space48"></div>
            <div class="blog-details-boxarea">
              <div class="img1">
                <img src="/static/img/all-images/blog/blog-img9.png" alt="housebox">
              </div>
              <div class="content-area">
                <ul>
                  <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                        <path
                          d="M11 14.0619V20H13V14.0619C16.9463 14.554 20 17.9204 20 22H4C4 17.9204 7.05369 14.554 11 14.0619ZM12 13C8.685 13 6 10.315 6 7C6 3.685 8.685 1 12 1C15.315 1 18 3.685 18 7C18 10.315 15.315 13 12 13Z">
                        </path>
                      </svg> By Alex Roy</a></li>
                  <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                        <path
                          d="M2 11H22V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V11ZM17 3H21C21.5523 3 22 3.44772 22 4V9H2V4C2 3.44772 2.44772 3 3 3H7V1H9V3H15V1H17V3Z">
                        </path>
                      </svg> 8 December 2024</a></li>
                </ul>
                <div class="space24"></div>
                <a href="property-details-v1.html">Uncover Market Trends, Lifestyle Tips, And More</a>
                <div class="space16"></div>
                <p>Discover practical tips, and gain insights that empower you to make confident decisions. From buying
                  and selling to lifestyle inspiration.</p>
                <div class="space24"></div>
                <a href="property-details-v1.html" class="readmore">learn more <svg xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" fill="currentColor">
                    <path
                      d="M13.0508 12.361L7.39395 18.0179L5.97974 16.6037L11.6366 10.9468L6.68684 5.99707H18.0006V17.3108L13.0508 12.361Z">
                    </path>
                  </svg></a>
              </div>
            </div>
          </div>

          <div class="col-lg-12">
            <div class="space48"></div>
            <div class="blog-details-boxarea">
              <div class="img1">
                <img src="/static/img/all-images/blog/blog-img10.png" alt="housebox">
              </div>
              <div class="content-area">
                <ul>
                  <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                        <path
                          d="M11 14.0619V20H13V14.0619C16.9463 14.554 20 17.9204 20 22H4C4 17.9204 7.05369 14.554 11 14.0619ZM12 13C8.685 13 6 10.315 6 7C6 3.685 8.685 1 12 1C15.315 1 18 3.685 18 7C18 10.315 15.315 13 12 13Z">
                        </path>
                      </svg> By Alex Roy</a></li>
                  <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                        <path
                          d="M2 11H22V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V11ZM17 3H21C21.5523 3 22 3.44772 22 4V9H2V4C2 3.44772 2.44772 3 3 3H7V1H9V3H15V1H17V3Z">
                        </path>
                      </svg> 8 December 2024</a></li>
                </ul>
                <div class="space24"></div>
                <a href="property-details-v1.html">Your Destination for Property Wisdom And Trends</a>
                <div class="space16"></div>
                <p>We cover everything from market trends and property investments to home décor and lifestyle tips.
                  Whether you’re planning the buy.</p>
                <div class="space24"></div>
                <a href="property-details-v1.html" class="readmore">learn more <svg xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" fill="currentColor">
                    <path
                      d="M13.0508 12.361L7.39395 18.0179L5.97974 16.6037L11.6366 10.9468L6.68684 5.99707H18.0006V17.3108L13.0508 12.361Z">
                    </path>
                  </svg></a>
              </div>
            </div>
          </div>

          <div class="col-lg-12">
            <div class="space48"></div>
            <div class="blog-details-boxarea" style="padding-bottom: 0; border: none;">
              <div class="img1">
                <img src="/static/img/all-images/blog/blog-img8.png" alt="housebox">
              </div>
              <div class="content-area">
                <ul>
                  <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                        <path
                          d="M11 14.0619V20H13V14.0619C16.9463 14.554 20 17.9204 20 22H4C4 17.9204 7.05369 14.554 11 14.0619ZM12 13C8.685 13 6 10.315 6 7C6 3.685 8.685 1 12 1C15.315 1 18 3.685 18 7C18 10.315 15.315 13 12 13Z">
                        </path>
                      </svg> By Alex Roy</a></li>
                  <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                        <path
                          d="M2 11H22V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V11ZM17 3H21C21.5523 3 22 3.44772 22 4V9H2V4C2 3.44772 2.44772 3 3 3H7V1H9V3H15V1H17V3Z">
                        </path>
                      </svg> 8 December 2024</a></li>
                </ul>
                <div class="space24"></div>
                <a href="property-details-v1.html">Elevate Your Knowledge, Empower Your Decisions</a>
                <div class="space16"></div>
                <p>Searching for your dream home, or looking the enhance your living space, we provide expert advice an
                  creative ideas tailored to your.</p>
                <div class="space24"></div>
                <a href="property-details-v1.html" class="readmore">learn more <svg xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" fill="currentColor">
                    <path
                      d="M13.0508 12.361L7.39395 18.0179L5.97974 16.6037L11.6366 10.9468L6.68684 5.99707H18.0006V17.3108L13.0508 12.361Z">
                    </path>
                  </svg></a>
              </div>
            </div>
          </div>

          <div class="col-lg-12">
            <div class="pagination-area">
              <div class="space60"></div>
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                        <path
                          d="M10.8284 12.0007L15.7782 16.9504L14.364 18.3646L8 12.0007L14.364 5.63672L15.7782 7.05093L10.8284 12.0007Z">
                        </path>
                      </svg>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link active" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">....</a></li>
                  <li class="page-item"><a class="page-link" href="#">12</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                        <path
                          d="M13.1717 12.0007L8.22192 7.05093L9.63614 5.63672L16.0001 12.0007L9.63614 18.3646L8.22192 16.9504L13.1717 12.0007Z">
                        </path>
                      </svg>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--===== BLOG AREA ENDS =======-->

<!--===== CTA AREA STARTS =======-->
{% include "components/cta.html" %}
<!--===== CTA AREA ENDS =======-->


{% endblock %}