{% load static %}
<header>
    <div class="header-area homepage4 header header-sticky d-none d-lg-block " id="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-elements">
                        <div class="site-logo">
                            <a href="{% url 'index' %}"><img src="{% static 'img/logo/logo5.png' %}" alt="housebox"></a>
                        </div>
                        <div class="main-menu">
                            <ul>
                                <li><a href="#" class="plus">Home <i class="fa-solid fa-angle-down"></i></a>
                                    <div class="tp-submenu">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="all-images-menu">
                                                    <div class="images">
                                                        <div class="homemenu-thumb">
                                                            <div class="img1">
                                                                <img src="{% static 'img/all-images/demo/demo-img1.png' %}"
                                                                    alt="housebox">
                                                            </div>

                                                            <div class="homemenu-btn">
                                                                <a class="theme-btn5" href="{% url 'index' %}">View Demo
                                                                    <span class="arrow1"><svg
                                                                            xmlns="http://www.w3.org/2000/svg"
                                                                            viewBox="0 0 24 24" width="24" height="24"
                                                                            fill="currentColor">
                                                                            <path d="M12 13H4V11H12V4L20 12L12 20V13Z">
                                                                            </path>
                                                                        </svg></span><span class="arrow2"><svg
                                                                            xmlns="http://www.w3.org/2000/svg"
                                                                            viewBox="0 0 24 24" width="24" height="24"
                                                                            fill="currentColor">
                                                                            <path d="M12 13H4V11H12V4L20 12L12 20V13Z">
                                                                            </path>
                                                                        </svg></span></a>
                                                            </div>
                                                            <div class="homemenu-content">
                                                                <a href="{% url 'index' %}">Housebox - Homepage 01</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="images">
                                                        <div class="homemenu-thumb">
                                                            <div class="img1">
                                                                <img src="{% static 'img/all-images/demo/demo-img2.png' %}"
                                                                    alt="housebox">
                                                            </div>
                                                            <div class="homemenu-btn">
                                                                <a class="theme-btn5" href="index2.html"> View Demo
                                                                    <span class="arrow1"><svg
                                                                            xmlns="http://www.w3.org/2000/svg"
                                                                            viewBox="0 0 24 24" width="24" height="24"
                                                                            fill="currentColor">
                                                                            <path d="M12 13H4V11H12V4L20 12L12 20V13Z">
                                                                            </path>
                                                                        </svg></span><span class="arrow2"><svg
                                                                            xmlns="http://www.w3.org/2000/svg"
                                                                            viewBox="0 0 24 24" width="24" height="24"
                                                                            fill="currentColor">
                                                                            <path d="M12 13H4V11H12V4L20 12L12 20V13Z">
                                                                            </path>
                                                                        </svg></span></a>
                                                            </div>
                                                            <div class="homemenu-content">
                                                                <a href="index2.html">Housebox - Homepage 02</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="images">
                                                        <div class="homemenu-thumb">
                                                            <div class="img1">
                                                                <img src="{% static 'img/all-images/demo/demo-img3.png' %}"
                                                                    alt="housebox">
                                                            </div>
                                                            <div class="homemenu-btn">
                                                                <a class="theme-btn5" href="index3.html">View Demo <span
                                                                        class="arrow1"><svg
                                                                            xmlns="http://www.w3.org/2000/svg"
                                                                            viewBox="0 0 24 24" width="24" height="24"
                                                                            fill="currentColor">
                                                                            <path d="M12 13H4V11H12V4L20 12L12 20V13Z">
                                                                            </path>
                                                                        </svg></span><span class="arrow2"><svg
                                                                            xmlns="http://www.w3.org/2000/svg"
                                                                            viewBox="0 0 24 24" width="24" height="24"
                                                                            fill="currentColor">
                                                                            <path d="M12 13H4V11H12V4L20 12L12 20V13Z">
                                                                            </path>
                                                                        </svg></span></a>
                                                            </div>
                                                            <div class="homemenu-content">
                                                                <a href="index3.html">Housebox - Homepage 03</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="images">
                                                        <div class="homemenu-thumb">
                                                            <div class="img1">
                                                                <img src="{% static 'img/all-images/demo/demo-img4.png' %}"
                                                                    alt="housebox">
                                                            </div>

                                                            <div class="homemenu-btn">
                                                                <a class="theme-btn5" href="index4.html">View Demo <span
                                                                        class="arrow1"><svg
                                                                            xmlns="http://www.w3.org/2000/svg"
                                                                            viewBox="0 0 24 24" width="24" height="24"
                                                                            fill="currentColor">
                                                                            <path d="M12 13H4V11H12V4L20 12L12 20V13Z">
                                                                            </path>
                                                                        </svg></span><span class="arrow2"><svg
                                                                            xmlns="http://www.w3.org/2000/svg"
                                                                            viewBox="0 0 24 24" width="24" height="24"
                                                                            fill="currentColor">
                                                                            <path d="M12 13H4V11H12V4L20 12L12 20V13Z">
                                                                            </path>
                                                                        </svg></span></a>
                                                            </div>
                                                            <div class="homemenu-content">
                                                                <a href="index4.html">Housebox - Homepage 04</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="#" class="plus">Pages <i class="fa-solid fa-angle-down"></i></a>
                                    <ul class="dropdown-padding">
                                        <li><a href="{% url 'page' 'about-us' %}">About Us</a></li>
                                        <li><a href="{% url 'page' 'our-service' %}">Our Services</a></li>
                                        <li><a href="{% url 'page' 'pricing' %}">Pricing</a></li>
                                        <li><a href="{% url 'page' 'contact' %}">Contact Us</a></li>
                                        <li><a href="{% url 'page' 'faq' %}">FAQ's</a></li>
                                        <li><a href="{% url 'page' 'privacy-policy' %}">Privacy Policy</a></li>
                                        <li><a href="{% url 'page' 'loan-caculator' %}">Loan Calculator</a></li>
                                    </ul>
                                </li>
                                <li><a href="#" class="plus">Listing <i class="fa-solid fa-angle-down"></i></a>
                                    <ul class="dropdown-padding">
                                        <li><a href="property-halfmap-grid.html">Property Half Grid</a></li>
                                        <li><a href="property-halfmap-list.html">Property Half Map List</a></li>
                                        <li><a href="topmap-grid.html">Property Top Map Grid</a></li>
                                        <li><a href="topmap-list.html">Property Top Map List</a></li>
                                        <li><a href="{% url 'page' 'sidebar-grid' %}">Find Sidebar Grid</a></li>
                                        <li><a href="sidebar-list.html">Find Sidebar List</a></li>
                                    </ul>
                                </li>
                                <li><a href="{% url 'page' 'contact' %}" class="plus">Properties <i
                                            class="fa-solid fa-angle-down"></i></a>
                                    <ul class="dropdown-padding">
                                        <li><a href="property-details-v1.html">Property Details 01</a></li>
                                        <li><a href="property-details-v2.html">Property Details 02</a></li>
                                        <li><a href="{% url 'page' 'property-details-v3' %}">Property Details 03</a>
                                        </li>
                                        <li><a href="property-details-v4.html">Property Details 04</a></li>
                                    </ul>
                                </li>
                                <li><a href="#" class="plus">Dashboard <i class="fa-solid fa-angle-down"></i></a>
                                    <ul class="dropdown-padding">
                                        <li><a href="{% url 'page' 'dashboard' %}">Dashboard</a></li>
                                        <li><a href="{% url 'page' 'my-property' %}">My Properties</a></li>
                                        <li><a href="{% url 'page' 'message' %}">Message</a></li>
                                        <li><a href="{% url 'page' 'my-favorites' %}">My Favourites</a></li>
                                        <li><a href="{% url 'page' 'reviews' %}">Reviews</a></li>
                                        <li><a href="{% url 'page' 'my-profile' %}">My Propfile</a></li>
                                        <li><a href="{% url 'page' 'add-property' %}">Add Property</a></li>
                                    </ul>
                                </li>
                                <li><a href="#" class="plus">Blogs <i class="fa-solid fa-angle-down"></i></a>
                                    <ul class="dropdown-padding">
                                        <li><a href="{% url 'page' 'blog' %}">Blog Default</a></li>
                                        <li><a href="{% url 'page' 'blog-grid' %}">Blog Grid</a></li>
                                        <li><a href="{% url 'page' 'blog-detail' %}">Blog Post Details</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="btn-area">
                            <div class="search-icon header__search header-search-btn">
                                <a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                        fill="currentColor">
                                        <path
                                            d="M18.031 16.6168L22.3137 20.8995L20.8995 22.3137L16.6168 18.031C15.0769 19.263 13.124 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20 13.124 19.263 15.0769 18.031 16.6168ZM16.0247 15.8748C17.2475 14.6146 18 12.8956 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18C12.8956 18 14.6146 17.2475 15.8748 16.0247L16.0247 15.8748Z">
                                        </path>
                                    </svg></a>
                            </div>
                            <a href="{% url 'page' 'sidebar-grid' %}" class="theme-btn5">View Listing <span
                                    class="arrow1"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                        width="24" height="24" fill="currentColor">
                                        <path d="M12 13H4V11H12V4L20 12L12 20V13Z"></path>
                                    </svg></span><span class="arrow2"><svg xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
                                        <path d="M12 13H4V11H12V4L20 12L12 20V13Z"></path>
                                    </svg></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>